apiVersion: v2
name: litellm
description: A Helm chart to refer the official litellm helm chart
type: application
version: 0.4.11
dependencies:
  - name: litellm-helm
    version: 0.1.812
    repository: oci://ghcr.io/berriai
    condition: litellm-helm.enabled
  - name: prometheus
    version: 27.8.0
    repository: https://prometheus-community.github.io/helm-charts
  - name: grafana
    version: 8.12.0
    repository: https://grafana.github.io/helm-charts
    condition: grafana.enabled