apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kcm
  namespace: kcm-system
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  chartRef:
    kind: HelmChart
    name:  {{ .Values.kcmRelease }}
    namespace: kcm-system
  install:
    remediation:
      remediateLastFailure: true
      retries: 3
  interval: 10m0s
  releaseName: kcm
  targetNamespace: kcm-system
  values:
    admissionWebhook:
      enabled: true
    cluster-api-operator:
      enabled: true
    controller:
      createAccessManagement: false
      createManagement: false
      createRelease: false
    velero:
      enabled: true
